<html>
	<head>
		<title>{{title if title else 'My Awesome To-do App'}}</title>
		<!--meta name="csrf_token" content="{{ csrf_token() }}" /-->
		<link rel=stylesheet type=text/css href="{{ url_for('static', 
				filename='css/style.css') }}">
	</head>
	<body>
		<!-- SDK for Facebook login -->
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '1603805816571831',
					xfbml      : true,
					version    : 'v2.3'
				});
			};

			(function(d, s, id){
				 var js, fjs = d.getElementsByTagName(s)[0];
				 if (d.getElementById(id)) {return;}
				 js = d.createElement(s); js.id = id;
				 js.src = "//connect.facebook.net/en_US/sdk.js";
				 fjs.parentNode.insertBefore(js, fjs);
			 }(document, 'script', 'facebook-jssdk'));
		</script>
		
		<!-- Header -->
		<p><a href="{{ url_for('index') }}">Home</a></p>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>{{message}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		
		<!-- Content -->
		{% block body %}{% endblock %}
	</body>
</html>
