{% extends "base.html" %}

{% block body %}
	<h1>Edit Project</h1>
	<form action="" method="post" name="edit_project">
		<!-- hidden_tag() needed in all forms for CSRF prevention -->
		{{ form.hidden_tag() }}
		<p>
			{{ form.name.label }} {{ form.name(size=80) }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}<br>
			{{ form.start_date.label }}
			{{ form.start_date(placeholder="1999-01-01 23:59:59") }}<br>
			{% for error in form.start_date.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}<br>
			{{ form.due_date.label }}
			{{ form.due_date(placeholder="1999-01-01 23:59:59") }}<br>
			{% for error in form.due_date.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}<br>
			{{ form.completed.label }} {{ form.completed }}<br>
			{{ form.image.label }} {{ form.image }}<br>
			{% for error in form.image.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}<br>
		</p>
		<p>
			<input type="submit" value="Update Project">
			<a href="{{ url_for('index') }}">cancel</a>
		</p>
	</form>
{% endblock %}