{% extends "base.html" %}

{% block body %}
	<!-- if logged in, list side nav with list of projects -->
	{% if current_user.is_authenticated() %}
		<div class="container">
			<div class="row">
				<nav id="side-nav" class="col-sm-4">
					<p>
						<a href="javascript:call_url('{{ url_for('new_todo') }}', 'GET')" 
							class="btn btn-primary btn-lg" role="button">Create New Project
						</a>
					</p>
					<ul id="side-container" class="nav nav-pills nav-stacked">
						{% for project in projects: %}
						<li id="proj{{project.id}}">
							<a href="javascript:call_url('{{ url_for('show_todo', id=project.id) }}', 'GET')">
								{{project.name}}
								{% if project.completed %}
								<img src="{{ url_for('static', filename='tick_green_big.gif') }}" 
									alt="Checkmark Icon">
								{% endif %}
							</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
				<div class="col-sm-8">
					<div id="side_section">
						{% include '_flash.html' %}
					</div>
				</div>
			</div>
		</div>
	<!-- else display login buttons -->
	{% else %}
		{% include '_login.html' %}
	{% endif %}
{% endblock %}
