{% extends "base.html" %}

{% block body %}
	{% if current_user.is_authenticated() %}
		<h1>Greetings, {{ current_user.name }}</h1>
		<p><a href="{{ url_for('new_todo') }}">Create new project</a></p>
		<p>
			<ul>
				{% for project in projects: %}
				<li>
					<a href="{{ url_for('show_todo', id=project.id) }}">{{project.name}}</a>
					<div class="inline-block">
						<form action="{{ url_for('edit_todo', id=project.id) }}" method="GET" name="edit_project" class="inline-block">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
							<input type="submit" value="edit" class="inline">
						</form>
						<form action="{{ url_for('delete_todo', id=project.id) }}" method="POST" name="delete_project" class="inline-block">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
							<input type="submit" value="delete" class="inline">
						</form>
					</div>
					{% if project.completed %}
					<img src="{{ url_for('static', filename='tick_green_big.gif') }}" alt="Checkmark Icon">
					{% endif %}
				</li>
					{% if project.children.all(): %}
						<ul>
							{% for todo in project.children.all(): %}
								<li>
									<a href="{{ url_for('show_todo', id=todo.id) }}">{{todo.name}}</a>
									{% if todo.completed %}
									<img src="{{ url_for('static', filename='tick_green_big.gif') }}" alt="Checkmark Icon">
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			</ul>
		</p>
	{% else %}
		<h2>Greetings!</h2>
		<p><a href="{{ url_for('oauth_authorize', provider='google') }}">Login with Google</a></p>
		<p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
		<p><a href="{{ url_for('oauth_authorize', provider='github') }}">Login with Github</a></p>		
		<p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>		
	{% endif %}
{% endblock %}