{% extends "base.html" %}

{% block body %}
	<h1>New todo</h1>
	<form action="" method="post" name="new_todo">
		<!-- hidden_tag() needed in all forms for CSRF prevention -->
		{{ form.hidden_tag() }}
		<p>
			{{ form.name.label }} {{ form.name(size=80) }}<br>
			{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
			{% endfor %}<br>
			{# {{ form.project_id.label }} {{ form.project_id }}<br> #}
		</p>
		<p><input type="submit" value="Create New Todo"></p>
	</form>
{% endblock %}