{% extends "base.html" %}

{% block body %}
	<h1>{{ project.name }}</h1>
	<a href="{{ url_for('edit_project', id=project.id) }}">Edit</a>
	<a href="{{ url_for('delete_project', id=project.id) }}">Delete</a>
	<p>
		Start date: {{ project.start_date }}<br>
		Due date: {{ project.due_date }}<br>
		Completed: {{ 'Yes' if project.completed else 'No' }}<br>
		Items (<a href="{{  url_for('new_todo', id=project.id) }}">add new</a>):
		<ul>
			{% for todo in project.todos.all(): %}
				<li>
					<a href="{{ url_for('show_todo', id=todo.id) }}">{{ todo.name }}</a>
					{% if todo.completed %}
					<img src="{{ url_for('static', filename='tick_green_big.gif') }}" alt="Checkmark Icon">
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</p>
{% endblock %}