{% extends "base.html" %}

{% block body %}
	<h1>{{ todo.name }}</h1>
	{% if todo.image: %}
	<img src="{{ todo.image }}" alt="Project image" style="width:128px;height:128px;">
	{% endif %}
	<form action="{{ url_for('edit_todo', id=todo.id) }}" method="GET" name="edit_todo">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		<input type="submit" value="edit">
	</form>
	<form action="{{ url_for('delete_todo', id=todo.id) }}" method="POST" name="delete_todo">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		<input type="submit" value="delete">
	</form>
	<p>Description:<br>{{ todo.description|safe }}</p>
	<p>
		Start date: {{ todo.start_date }}<br>
		Due date: {{ todo.due_date }}<br>
		Completed: {{ 'Yes' if todo.completed else 'No' }}<br>
		{% if todo.parent %}
		Belongs to: <a href="{{ url_for('show_todo', id=todo.parent.id) }}">{{ todo.parent.name }}</a><br>
		{% endif %}
		Items (<a href="{{  url_for('new_todo', id=todo.id) }}">add new</a>):
		<ul>
			{% for child in todo.children.all(): %}
				<li>
					<a href="{{ url_for('show_todo', id=child.id) }}">{{ child.name }}</a>
					{% if child.completed %}
					<img src="{{ url_for('static', filename='tick_green_big.gif') }}" alt="Checkmark Icon">
					{% endif %}
				</li>
			{% endfor %}
		</ul>	</p>
{% endblock %}